<nav class="navbar is-primary " x-data="{ openNav: false }">
  <div class="container">
      <div class="navbar-brand">
          <a href="/" class="navbar-item">
              Words at the left
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
          <div class="navbar-start">
            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" >{{ item.name }}</a>
          {% endfor %}
          </div>

          <div class="navbar-end">
              
          </div>

      </div>
  </div>
</nav>
