---
layout: default
---

<div class="content">
<p>(Original line) Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
  <p>
    {{ page.date | date: "%b %-d, %Y" }}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </p>
  

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
